h1 {
    text-align: center;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.collegas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.collega {
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    width: 20%;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.avatar img {
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 15vw;
    height: 15vw;
    padding: 10px;
}

.collega > img {
    width: 10%;
    height: 10%;
}

img[src="colors.png"] {
    height: max-content;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.collega:nth-child(1) > img {
    object-position: left;
    object-fit: cover;
    
}

.collega:nth-child(2) > img {
    object-position: center;
    object-fit: cover;
}  

.collega:nth-child(3) > img {
    object-position: right;
    object-fit: cover;
    
}

ul {
    display: block;
    text-align: left;
}
 